.game {

  &-wrapper {
    min-height: 100vh;
    width: 100vw;
    background: #545F7D;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-body {
    display: grid;
    color: #fff;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'head head'
                          'board score';
    grid-column-gap: 30px;
  }

  &-result {
    grid-area: head;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 25px;
    font-size: 30px;
  }
}





