.game-board {
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background-color: #AA55C3;
  position: relative;
}

.winner-line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: red;

  &.horizontal {
    top: 48px;
    left: 0;

    &-1 {
      top: 156px;
    }

    &-2 {
      top: 262px;
    }
  }

  &.vertical {
    transform: rotate(90deg) translateX(50%);
    top: 0px;
    left: -108px;

    &-1 {
      left: 0;
    }

    &-2 {
      left: 108px;
    }
  }

  &.oblique {
    width: 142%;

    &-0 {
      left: -5px;
      top: 216px;
      transform: rotate(45deg) translateX(-84px)
    }

    &-1 {
      left: 161px;
      top: -71px;
      transform: rotate(-45deg) translateX(-320px);
    }
  }

}

